#tmboes-info {
    position: fixed;
    background: #ccf;
    color: black;
    pointer-events: none;
    padding: 0px;
    box-shadow: 0 5px 11px rgba(0,0,0,0.25);
}

#tmboes-info .popup-filename {
    min-width: 270px;
}

#tmboes-info .popup-content {
    float: right;
}

#tmboes-info.hidden {
    display: none;
}

#tmboes-info img {
    float: left;
}

#tmboes-info .entry {
    width: 540px;
    text-align: left;
    background: #bbe;
}

#tmboes-info .userLink {
    color: #666699;
    text-decoration: underline;
}

#commentList > div.tmboes-new {
    border-left: 2px solid rgba(34,34,85,1);
}

#commentList > div {
    border-left: 2px solid rgba(34,34,85,0);
    padding-left: 8px;
    transition: border 250ms ease-out;
}

.tmboes-summarize .entry:not(.comment) {
    display: none !important;
}

#tmboes-summaries {
    display: none;
}

.tmboes-summarize #tmboes-summaries {
    display: block;
}

#tmboes-summarizeToggle {
    display: inline-block;
    float: right;
}

#tmboes-summarizeToggle.tmboes-disabled {
    color: #aae;
}
